<div>
    <!-- Direction or Angle Type Selector -->
    <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
        <div class="GRGDrafterDropdownLabel GRGDrafterEllipsis" title="${nls.gridSettings.cellShape}">
            ${nls.gridSettings.cellShape}</div>
        <select data-dojo-attach-point="cellShape" style="width: 100%" data-dojo-type="dijit/form/Select">
        </select>
    </div>
    
    <!-- Length Units Selector -->
    <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
        <div class="GRGDrafterDropdownLabel GRGDrafterEllipsis" title="${nls.gridSettings.cellUnits}">
            ${nls.gridSettings.cellUnits}</div>
        <select data-dojo-attach-point="cellUnits" style="width: 100%" data-dojo-type="dijit/form/Select">
        </select>
    </div>
    
    <!-- Label Start Position Selector -->
    <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
        <div class="GRGDrafterDropdownLabel GRGDrafterEllipsis" title="${nls.gridSettings.labelStartPosition}">
            ${nls.gridSettings.labelStartPosition}</div>
        <select data-dojo-attach-point="labelStartPosition" style="width: 100%" data-dojo-type="dijit/form/Select">
        </select>
    </div>
    
    <!-- Labelling Style -->
    <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
        <div class="GRGDrafterDropdownLabel GRGDrafterEllipsis" title="${nls.gridSettings.labelType}">
            ${nls.gridSettings.labelType}</div>
        <select data-dojo-attach-point="labelType" style="width: 100%" data-dojo-type="dijit/form/Select">
        </select>
    </div>
    
    <!-- Grid Origin -->
    <div class="GRGDrafterFullWidth GRGDrafterSettingRow">
        <div class="GRGDrafterDropdownLabel GRGDrafterEllipsis" title="${nls.gridSettings.gridOrigin}">
            ${nls.gridSettings.gridOrigin}</div>
        <select data-dojo-attach-point="gridOrigin" style="width: 100%" data-dojo-type="dijit/form/Select">
        </select>
    </div>
</div>