.dijitSelect .dijitArrowButton 
{
    background-color: #fafafc;
    border-color: #fafafc;
}

.jimu-widget-GRGDrafter .dijitSelect .dijitButtonContents
{
    background-color: transparent;
    border-color: #fafafc;
}

.jimu-widget-GRGDrafter  .dijitSelectDisabled,
.jimu-widget-GRGDrafter .dijitTextBoxDisabled,
.jimu-widget-GRGDrafter .dijitTextBoxDisabled .dijitInputContainer ,
.jimu-widget-GRGDrafter .dijitTextBoxDisabled {
     background-color: #4c4c4c; 
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
    border: 1px solid #ffffff;
    color: #ffffff;
}


.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {    
    background-image: url(images/tooltip.png);    
}

/*dojo dialog box*/
.claro .dijitDialog {
  background-color: #4c4c4c;
}
.claro .dijitDialogTitle {
    color: #fff;
}
.claro .jimu-widget-subtitle {
    color: #ffffff;
}
.claro .dijitDialogTitleBar {
    border: 0px solid #222;
    border-bottom: 1px solid #000;
    background-color: #222;
    background-image: none;    
}

.claro .dijitDialogPaneContent {
    background-color: #4c4c4c;
    border: 0px solid #222;
    color: #fff;
}

.claro .dijitDialogPaneContent  {
  float: right;
}

/*Button*/

.claro .dijitButton .dijitButtonNode {
    color: #ffffff !important;
    border: 0px solid #000000;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 5px 18px 8px 18px;
    font-size: 14px;    
}
.claro .dijitButtonHover  .dijitButtonNode {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.jimu-widget-GRGDrafter .settingBtn {
    display: inline-block;
    background: url(./images/settings_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.jimu-widget-GRGDrafter .settingBtn:hover {
    background: url('./images/settings_white_hover.png');
}

.jimu-widget-GRGDrafter .editBtn {
    display: inline-block;
    background: url(./images/edit_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 15px;
    height: 15px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.jimu-widget-GRGDrafter .editBtn:hover {
    background: url('./images/edit_white_hover.png');
    background-repeat: no-repeat;
}

.jimu-widget-GRGDrafter .jimu-edit-active {
    background: url('./images/edit_white_hover.png');
    background-repeat: no-repeat;
    border: none;
}

.jimu-widget-GRGDrafter .extentBtn {
    display: inline-block;
    background: url(./images/extent_white.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
    margin-left: 5px;
}

.jimu-widget-GRGDrafter .extentBtn:hover {
    background: url('./images/extent_white_hover.png');
    background-repeat: no-repeat;
}

.jimu-widget-GRGDrafter .jimu-extent-active {
    background: url('./images/extent_white_hover.png');
    background-repeat: no-repeat;
    border: none;
}